## ***Basic*** and ***safely*** managed ***sanitation*** services in different countries
(servizi sanitari di base e gestiti in sicurezza nei diversi paesi)

***

 Il lavoro consiste in un'analisi dettagliata di dati open source importati da una **fonte di Open Data** circa **fenomeni mondiali**
   
   **FONTE:** WHO/OMS Global Health Data Repository: [https://apps.who.int/gho/data/node.home ]
   
   From **6.2** SDG health and health-related targets **(Sanitation and hygiene)** in the section Water and sanitation, concatenated to the dataframe of the Health Equity Monitor section.

### **OBIETTIVO ANALISI**

***L'analisi ha l'obiettivo di individuare il fenomeno della stratificazione sociale e le disuguaglianze di salute dovute a diverse condizioni socio-economiche e culturali***

La classe sociale di appartenenza della popolazione è associata anche al concetto di aspettativa di vita. 
L'analisi vuole mettere in evidenza come le classi medie-alte hanno maggiori aspettative di vita, maggiore accesso alle risorse economiche , e come la differenza tra lavoro urbano e lavoro agricolo sia determinante per il tipo di stile di vita condotto e per la possibilità di ammalarsi o godere di una buona salute. 

Inoltre l'obiettivo è quello di mettere in relazione alcuni fattori socio-culturali con altri fattori economici, si evidenzia la correlazione tra livello di istruzione e aspettativa e stile di vita della persona.
  Le classi sociali con maggiori risorse materiali (risorse economiche) avranno maggior accesso anche a quelle immateriali (servizi igenico-sanitari)

1. **librerie da importare**

In [1]:
import numpy as np
import pandas as pd

2. dopo aver fatto il **download completo del data set come CSV table**, ho **salvato in locale** e attraverso il comando **head()** che permette la visualizzazione delle prime n righe del dataframe in esame, ho **visualizzato il file**. Si può specificare il numero di righe da visualizzare, esempio-head(20)-

In [2]:
df_sanitation = pd.read_csv(r"C:\Users\franc\Documents\UNIMI\COMPUTER SOCIETY\WSH_SANITATION_SAFELY_MANAGED,WSH_SANITATION_BASIC.csv")

In [3]:
df_sanitation.head(20)

,Unnamed: 0,2017,2017.1,2017.2,2017.3,2017.4,2017.5,2016,2016.1,2016.2,...,2001.2,2001.3,2001.4,2001.5,2000,2000.1,2000.2,2000.3,2000.4,2000.5
0,NaN,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,...,Population using at least basic sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...
1,Country,Total,Urban,Rural,Total,Urban,Rural,Total,Urban,Rural,...,Rural,Total,Urban,Rural,Total,Urban,Rural,Total,Urban,Rural
2,Afghanistan,43,62,37,NaN,NaN,NaN,42,60,36,...,22,NaN,NaN,NaN,24,30,22,NaN,NaN,NaN
3,Albania,98,98,97,40,40,39,98,98,97,...,83,38,40,37,88,97,82,39,40,38
4,Algeria,88,90,82,18,16,21,88,90,82,...,73,19,18,19,84,91,72,19,18,19
5,Andorra,100,100,100,100,100,100,100,100,100,...,100,22,22,22,100,100,100,15,15,15
6,Angola,50,64,23,NaN,NaN,NaN,49,63,22,...,8,NaN,NaN,NaN,28,48,8,NaN,NaN,NaN
7,Antigua and Barbuda,88,NaN,NaN,NaN,NaN,NaN,88,NaN,NaN,...,NaN,NaN,NaN,NaN,82,NaN,NaN,NaN,NaN,NaN
8,Argentina,NaN,96,NaN,NaN,NaN,NaN,94,96,77,...,69,NaN,NaN,NaN,87,89,69,NaN,NaN,NaN
9,Armenia,94,100,83,48,45,NaN,93,100,83,...,77,47,45,NaN,87,92,77,47,45,NaN
10,Australia,100,NaN,NaN,76,NaN,NaN,100,NaN,NaN,...,NaN,64,NaN,NaN,100,NaN,NaN,64,NaN,NaN
11,Austria,100,100,100,97,100,92,100,100,100,...,100,97,100,92,100,100,100,97,100,92
12,Azerbaijan,93,96,88,NaN,92,NaN,92,96,88,...,55,NaN,71,NaN,63,73,53,NaN,70,NaN
13,Bahamas,95,NaN,NaN,NaN,NaN,NaN,95,NaN,NaN,...,NaN,NaN,NaN,NaN,88,NaN,NaN,NaN,NaN,NaN
14,Bahrain,100,NaN,NaN,96,NaN,NaN,100,NaN,NaN,...,NaN,96,NaN,NaN,100,NaN,NaN,96,NaN,NaN
15,Bangladesh,48,51,47,NaN,NaN,32,47,50,45,...,21,NaN,NaN,15,26,44,20,NaN,NaN,14
16,Barbados,97,NaN,NaN,NaN,NaN,NaN,97,NaN,NaN,...,NaN,NaN,NaN,NaN,89,NaN,NaN,NaN,NaN,NaN
17,Belarus,98,98,96,81,82,76,98,98,96,...,96,90,88,94,92,90,96,90,88,94
18,Belgium,99,99,99,97,NaN,NaN,99,99,99,...,99,86,NaN,NaN,99,99,99,86,NaN,NaN
19,Belize,88,93,83,NaN,NaN,NaN,88,93,83,...,80,NaN,NaN,NaN,82,85,80,NaN,NaN,NaN

Si tratta di una tabella a doppia entrata che mette in rilievo negli anni, dal 2013 al 2017, la percentuale di popolazione che fa uso dei servizi sanitari a seconda delle due diversificate zone, urbane e rurali, dei vari paesi.

**variabili:**
1. la percentuale di popolazione che utilizza almeno servizi sanitari di base
2. la percentuale di popolazione che utilizza servizi sanitari gestiti in sicurezza

3. variabile anni (dal 2013 al 2017)

4. la variabile Country di tipo categoriale, è divisa in 3 sotto categorie: Total, Urban and Rural.

In [4]:
# vogliamo vedere che tipo di dati sono
type(df_sanitation)   # dataframe = dati in formato tabellare tipici della libraria Pandas

pandas.core.frame.DataFrame

In [5]:
 #avrei potuto utilizzare la print per vederle tutte ma graficamente è più efficace head()

***

### Alcune operazioni per ordinare il dataframe

In [6]:
new = df_sanitation.rename(columns={'Unnamed: 0' : 'Years'})
new

,Years,2017,2017.1,2017.2,2017.3,2017.4,2017.5,2016,2016.1,2016.2,...,2001.2,2001.3,2001.4,2001.5,2000,2000.1,2000.2,2000.3,2000.4,2000.5
0,NaN,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,...,Population using at least basic sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...
1,Country,Total,Urban,Rural,Total,Urban,Rural,Total,Urban,Rural,...,Rural,Total,Urban,Rural,Total,Urban,Rural,Total,Urban,Rural
2,Afghanistan,43,62,37,NaN,NaN,NaN,42,60,36,...,22,NaN,NaN,NaN,24,30,22,NaN,NaN,NaN
3,Albania,98,98,97,40,40,39,98,98,97,...,83,38,40,37,88,97,82,39,40,38
4,Algeria,88,90,82,18,16,21,88,90,82,...,73,19,18,19,84,91,72,19,18,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Venezuela (Bolivarian Republic of),94,NaN,NaN,24,NaN,NaN,94,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,Viet Nam,84,94,78,NaN,NaN,NaN,82,94,76,...,45,NaN,NaN,NaN,52,81,43,NaN,NaN,NaN
193,Yemen,59,88,43,NaN,67,NaN,59,88,43,...,27,NaN,67,NaN,42,86,27,NaN,67,NaN
194,Zambia,26,36,19,NaN,NaN,NaN,26,36,19,...,12,NaN,NaN,NaN,24,46,12,NaN,NaN,NaN
195,Zimbabwe,36,46,31,NaN,16,NaN,37,48,32,...,36,NaN,23,NaN,46,65,36,NaN,23,NaN

#### Dalla visualizzazione di questa tabella è possibile osservare come in media, la percentuale più alta della popolazione delle varie nazioni, sia che utilizzino servizi sanitari di base, sia che utilizzino servizi gestiti in più sicurezza, appartiene alla classe urbana (e non a quella rurale). 
#### Da ciò si deduce come un primo fattore di incidenza, nonostante il minimo scostamento per alcune nazioni, sia la posizione geografica di residenza: la popolazione che vive in zone urbane ed è impiegata in lavori più salubri e redditizi avrà maggior accesso alla sanità. 

###### -questi dati sono importanti al fine di spiegare questa correlazione.

#### Analizziamo che tipo di dati sono

In [7]:
new.index.is_unique # verifichiamo che i nostri indici siano tutti diversi

True

In [8]:
new.columns.is_integer()  # non si tratta di interi

False

In [9]:
new.columns.is_object()   # si tratta di oggetti

True

In [10]:
new.columns.is_unique   # i nomi delle colonne sono tutti diversi

True

##### Utilizzo la funzione stack per organizzare il mio dataframe in modo da poter eseguire più facilmente le operazioni

In [11]:
new.stack(level = -1, dropna = True)   # trasforma i nomi delle colonne a due livelli di indice, è più utile costruire indici a più livelli

0    2017       Population using at least basic sanitation se...
     2017.1     Population using at least basic sanitation se...
     2017.2     Population using at least basic sanitation se...
     2017.3     Population using safely managed sanitation se...
     2017.4     Population using safely managed sanitation se...
                                     ...
195  2001.4                                                   23
     2000                                                     46
     2000.1                                                   65
     2000.2                                                   36
     2000.4                                                   23
Length: 13434, dtype: object

***

### MASCHERE BOOLEANE

Creiamo due mask di valori booleani secondo le due condizioni (urban e rural)

In [12]:
# importazione librerie per la visualizzazione grafica 
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn; seaborn.set()
seaborn.scatterplot(data= tabella, x='Country', y='Years', hue='3')   # il risultato del grafico è sbagliato, è da rifare

NameError: name 'tabella' is not defined

### **ANALISI VALORI NULLI (NAN)**

Il linguaggio di programmazione Python che si sta utilizzando, introduce una serie di dati mancanti:

**-NONE
-NAN**

***

Visualizziamo e analizziamo nello specifico i valori nulli nel dataset

funzione ***isnull*** genera una maschera booleana che indica i valori mancanti

In [13]:
new.isnull().any  # restituisce valore booleano
# sono presenti alcuni valori nulli in determinate righe, dunque nella nostra analisi possono esserci problemi dovuti a missing value

<bound method DataFrame.any of      Years   2017  2017.1  2017.2  2017.3  2017.4  2017.5   2016  2016.1  \
0     True  False   False   False   False   False   False  False   False
1    False  False   False   False   False   False   False  False   False
2    False  False   False   False    True    True    True  False   False
3    False  False   False   False   False   False   False  False   False
4    False  False   False   False   False   False   False  False   False
..     ...    ...     ...     ...     ...     ...     ...    ...     ...
191  False  False    True    True   False    True    True  False    True
192  False  False   False   False    True    True    True  False   False
193  False  False   False   False    True   False    True  False   False
194  False  False   False   False    True    True    True  False   False
195  False  False   False   False    True   False    True  False   False

     2016.2  ...  2001.2  2001.3  2001.4  2001.5   2000  2000.1  2000.2  \
0     False  ...   False   False   False   False  False   False   False
1     False  ...   False   False   False   False  False   False   False
2     False  ...   False    True    True    True  False   False   False
3     False  ...   False   False   False   False  False   False   False
4     False  ...   False   False   False   False  False   False   False
..      ...  ...     ...     ...     ...     ...    ...     ...     ...
191    True  ...    True    True    True    True   True    True    True
192   False  ...   False    True    True    True  False   False   False
193   False  ...   False    True   False    True  False   False   False
194   False  ...   False    True    True    True  False   False   False
195   False  ...   False    True   False    True  False   False   False

     2000.3  2000.4  2000.5
0     False   False   False
1     False   False   False
2      True    True    True
3     False   False   False
4     False   False   False
..      ...     ...     ...
191    True    True    True
192    True    True    True
193    True   False    True
194    True    True    True
195    True   False    True

[196 rows x 109 columns]>

Oppure

##### **Del processo di esportazione non si ha informazioni, durante tale operazione possono venire a mancare alcuni dati che si sono cancellati o persi**

E' opportuno ragionare sia sui dati mancanti autodescrittivi, che sono evidenti ed espliciti, sia sul fatto che il risultato finale dell'analisi possibilmente sarà influenzato dai dati mancanti. 

**NAN (not a number)** è il tipo di dato mancante introdotto da Python specifico per i numeri decimali, è trattato come floating point (virgola mobile), diverso da **NONE** (codifica generica per tutti i dati-object-)

Non fare un'accurata analisi dei dati mancanti è un errore dal punto di vista metodologico

***Quale conseguenze in presenza di NAN?***

è possibile procedere in due modi: 

-sostituendo in modo esplicito Nan con 0 (np.nansum fa la somma interpretando NAN come 0), oppure con altri valori specificati (data.fillna(0)); 

-eliminando il valore mancante (dropna( )).

Cancellare l'intera riga o il 50% delle righe non porta ad avere efficaci risultati, perchè si eliminerebbero dati che per una variabile sono mancanti ma per altre no.

#### Dunque sarebbe opportuno filtrare tutte le righe che restituiscono il valore booleano FALSE in un'unica colonna.

In [14]:
new.dropna(inplace=True)
new                        # oppure visualizzazione finale del dataset eliminando le righe in cui sono contenuti valori NaN

,Years,2017,2017.1,2017.2,2017.3,2017.4,2017.5,2016,2016.1,2016.2,...,2001.2,2001.3,2001.4,2001.5,2000,2000.1,2000.2,2000.3,2000.4,2000.5
1,Country,Total,Urban,Rural,Total,Urban,Rural,Total,Urban,Rural,...,Rural,Total,Urban,Rural,Total,Urban,Rural,Total,Urban,Rural
3,Albania,98,98,97,40,40,39,98,98,97,...,83,38,40,37,88,97,82,39,40,38
4,Algeria,88,90,82,18,16,21,88,90,82,...,73,19,18,19,84,91,72,19,18,19
5,Andorra,100,100,100,100,100,100,100,100,100,...,100,22,22,22,100,100,100,15,15,15
11,Austria,100,100,100,97,100,92,100,100,100,...,100,97,100,92,100,100,100,97,100,92
17,Belarus,98,98,96,81,82,76,98,98,96,...,96,90,88,94,92,90,96,90,88,94
33,Canada,99,99,99,82,82,82,99,99,99,...,99,77,77,77,100,100,99,77,77,77
37,China,85,91,76,72,84,56,83,90,74,...,44,27,30,25,56,77,44,27,29,25
47,Czechia,99,99,99,94,98,85,99,99,99,...,99,84,86,76,99,99,99,84,86,76
51,Djibouti,64,76,19,36,41,19,62,75,19,...,12,26,30,12,47,58,12,26,30,12
54,Ecuador,88,91,83,42,33,57,87,91,81,...,56,41,40,44,70,80,54,41,40,43
59,Estonia,99,99,99,97,99,94,99,99,99,...,99,96,97,93,100,100,99,96,97,93
68,Germany,99,99,99,97,99,92,99,99,99,...,99,95,97,90,99,99,99,95,97,90
78,Hungary,98,98,99,96,95,98,98,98,99,...,99,96,95,98,98,98,99,96,95,98
83,Iraq,94,97,88,41,39,45,92,95,86,...,57,32,32,32,71,78,56,32,32,31
84,Ireland,91,89,94,82,88,72,91,89,94,...,92,54,48,64,90,88,92,52,45,63
85,Israel,100,100,100,94,94,92,100,100,100,...,100,80,80,79,100,100,100,79,80,78
95,Lao People's Democratic Republic,74,95,64,58,62,56,72,94,61,...,20,24,47,18,28,67,17,22,46,15
96,Latvia,92,96,83,86,90,77,92,96,83,...,73,79,86,64,88,96,73,79,86,64
101,Lithuania,93,97,85,91,95,83,93,97,84,...,68,83,91,66,84,93,66,83,91,65
102,Luxembourg,98,97,99,97,97,89,98,97,99,...,99,91,92,85,98,98,99,91,92,85
107,Mali,39,53,29,19,9,26,38,52,28,...,10,8,7,8,16,34,9,7,7,7
108,Malta,100,100,100,93,93,93,100,100,100,...,100,93,93,93,100,100,100,93,93,93
123,Netherlands,98,98,100,97,97,97,98,98,100,...,100,97,97,97,98,98,100,97,97,97
126,Niger,14,44,8,10,23,7,13,43,7,...,2,4,15,1,5,25,1,3,15,1
127,Nigeria,39,48,31,27,30,24,38,47,31,...,29,24,24,25,30,30,29,25,24,25
135,Paraguay,90,94,83,58,54,66,89,94,81,...,54,45,50,38,70,85,52,44,49,36
137,Philippines,77,78,75,52,54,50,75,78,73,...,54,42,48,36,62,72,53,42,48,36
145,Russian Federation,90,95,78,61,63,55,90,95,77,...,56,55,61,40,83,94,55,55,61,39
150,Samoa,98,98,98,48,38,51,98,99,98,...,97,49,41,52,98,99,97,49,41,52
154,Senegal,51,65,40,21,22,21,51,65,39,...,23,15,16,14,39,63,23,14,16,13
157,Sierra Leone,16,26,9,13,20,8,15,25,8,...,5,9,17,5,10,20,5,9,16,5
159,Slovakia,98,99,97,83,88,76,98,99,97,...,97,84,90,77,98,99,97,84,90,77
165,Spain,100,100,100,97,97,97,100,100,100,...,100,94,95,93,100,100,100,94,95,93
169,Sweden,99,99,100,93,94,88,99,99,100,...,100,93,93,87,99,99,100,92,93,87
170,Switzerland,100,100,100,100,100,99,100,100,100,...,100,98,98,98,100,100,100,98,98,98
185,United Kingdom of Great Britain and Northern I...,99,99,99,98,99,92,99,99,99,...,99,97,99,92,99,99,99,97,99,92
186,United Republic of Tanzania,30,43,24,25,31,22,28,41,22,...,4,5,10,4,4,11,3,4,9,2

In [15]:
new.set_index(['Years'])   # indicizzo

,2017,2017.1,2017.2,2017.3,2017.4,2017.5,2016,2016.1,2016.2,2016.3,...,2001.2,2001.3,2001.4,2001.5,2000,2000.1,2000.2,2000.3,2000.4,2000.5
Years,,,,,,,,,,,,,,,,,,,,,
Country,Total,Urban,Rural,Total,Urban,Rural,Total,Urban,Rural,Total,...,Rural,Total,Urban,Rural,Total,Urban,Rural,Total,Urban,Rural
Albania,98,98,97,40,40,39,98,98,97,40,...,83,38,40,37,88,97,82,39,40,38
Algeria,88,90,82,18,16,21,88,90,82,18,...,73,19,18,19,84,91,72,19,18,19
Andorra,100,100,100,100,100,100,100,100,100,100,...,100,22,22,22,100,100,100,15,15,15
Austria,100,100,100,97,100,92,100,100,100,97,...,100,97,100,92,100,100,100,97,100,92
Belarus,98,98,96,81,82,76,98,98,96,80,...,96,90,88,94,92,90,96,90,88,94
Canada,99,99,99,82,82,82,99,99,99,82,...,99,77,77,77,100,100,99,77,77,77
China,85,91,76,72,84,56,83,90,74,68,...,44,27,30,25,56,77,44,27,29,25
Czechia,99,99,99,94,98,85,99,99,99,94,...,99,84,86,76,99,99,99,84,86,76
Djibouti,64,76,19,36,41,19,62,75,19,36,...,12,26,30,12,47,58,12,26,30,12
Ecuador,88,91,83,42,33,57,87,91,81,42,...,56,41,40,44,70,80,54,41,40,43
Estonia,99,99,99,97,99,94,99,99,99,97,...,99,96,97,93,100,100,99,96,97,93
Germany,99,99,99,97,99,92,99,99,99,97,...,99,95,97,90,99,99,99,95,97,90
Hungary,98,98,99,96,95,98,98,98,99,96,...,99,96,95,98,98,98,99,96,95,98
Iraq,94,97,88,41,39,45,92,95,86,40,...,57,32,32,32,71,78,56,32,32,31
Ireland,91,89,94,82,88,72,91,89,94,82,...,92,54,48,64,90,88,92,52,45,63
Israel,100,100,100,94,94,92,100,100,100,93,...,100,80,80,79,100,100,100,79,80,78
Lao People's Democratic Republic,74,95,64,58,62,56,72,94,61,56,...,20,24,47,18,28,67,17,22,46,15
Latvia,92,96,83,86,90,77,92,96,83,85,...,73,79,86,64,88,96,73,79,86,64
Lithuania,93,97,85,91,95,83,93,97,84,91,...,68,83,91,66,84,93,66,83,91,65
Luxembourg,98,97,99,97,97,89,98,97,99,96,...,99,91,92,85,98,98,99,91,92,85
Mali,39,53,29,19,9,26,38,52,28,18,...,10,8,7,8,16,34,9,7,7,7
Malta,100,100,100,93,93,93,100,100,100,93,...,100,93,93,93,100,100,100,93,93,93
Netherlands,98,98,100,97,97,97,98,98,100,97,...,100,97,97,97,98,98,100,97,97,97
Niger,14,44,8,10,23,7,13,43,7,9,...,2,4,15,1,5,25,1,3,15,1
Nigeria,39,48,31,27,30,24,38,47,31,27,...,29,24,24,25,30,30,29,25,24,25
Paraguay,90,94,83,58,54,66,89,94,81,58,...,54,45,50,38,70,85,52,44,49,36
Philippines,77,78,75,52,54,50,75,78,73,51,...,54,42,48,36,62,72,53,42,48,36
Russian Federation,90,95,78,61,63,55,90,95,77,61,...,56,55,61,40,83,94,55,55,61,39
Samoa,98,98,98,48,38,51,98,99,98,49,...,97,49,41,52,98,99,97,49,41,52
Senegal,51,65,40,21,22,21,51,65,39,21,...,23,15,16,14,39,63,23,14,16,13
Sierra Leone,16,26,9,13,20,8,15,25,8,13,...,5,9,17,5,10,20,5,9,16,5
Slovakia,98,99,97,83,88,76,98,99,97,83,...,97,84,90,77,98,99,97,84,90,77
Spain,100,100,100,97,97,97,100,100,100,97,...,100,94,95,93,100,100,100,94,95,93
Sweden,99,99,100,93,94,88,99,99,100,93,...,100,93,93,87,99,99,100,92,93,87
Switzerland,100,100,100,100,100,99,100,100,100,100,...,100,98,98,98,100,100,100,98,98,98
United Kingdom of Great Britain and Northern Ireland,99,99,99,98,99,92,99,99,99,98,...,99,97,99,92,99,99,99,97,99,92
United Republic of Tanzania,30,43,24,25,31,22,28,41,22,24,...,4,5,10,4,4,11,3,4,9,2

***

In [21]:
tabella = new.transpose()  # utilizzo la funzione 'Trasposta' per una nuova visualizzazione del dataframe, composto da 38 Stati come colonne e 109 righe riferite gli anni 
tabella

,1,3,4,5,11,17,33,37,47,51,...,145,150,154,157,159,165,169,170,185,186
Years,Country,Albania,Algeria,Andorra,Austria,Belarus,Canada,China,Czechia,Djibouti,...,Russian Federation,Samoa,Senegal,Sierra Leone,Slovakia,Spain,Sweden,Switzerland,United Kingdom of Great Britain and Northern I...,United Republic of Tanzania
2017,Total,98,88,100,100,98,99,85,99,64,...,90,98,51,16,98,100,99,100,99,30
2017.1,Urban,98,90,100,100,98,99,91,99,76,...,95,98,65,26,99,100,99,100,99,43
2017.2,Rural,97,82,100,100,96,99,76,99,19,...,78,98,40,9,97,100,100,100,99,24
2017.3,Total,40,18,100,97,81,82,72,94,36,...,61,48,21,13,83,97,93,100,98,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000.1,Urban,97,91,100,100,90,100,77,99,58,...,94,99,63,20,99,100,99,100,99,11
2000.2,Rural,82,72,100,100,96,99,44,99,12,...,55,97,23,5,97,100,100,100,99,3
2000.3,Total,39,19,15,97,90,77,27,84,26,...,55,49,14,9,84,94,92,98,97,4
2000.4,Urban,40,18,15,100,88,77,29,86,30,...,61,41,16,16,90,95,93,98,99,9
2000.5,Rural,38,19,15,92,94,77,25,76,12,...,39,52,13,5,77,93,87,98,92,2

In [22]:
tabella.describe()  # utilizzo un metodo conveniente attraverso la funzione 'Describe' che calcola aggregati comuni per ogni colonna e ritorna i risultati. Descrive ogni gruppo nei dati

,1,3,4,5,11,17,33,37,47,51,...,145,150,154,157,159,165,169,170,185,186
count,109,109,109,109,109,109,109,109,109,109,...,109,109,109,109,109,109,109,109,109,109
unique,4,22,25,14,4,24,10,64,25,49,...,47,13,42,23,11,7,8,4,5,38
top,Total,40,18,100,100,96,99,44,99,12,...,94,98,16,5,97,100,99,100,99,22
freq,36,23,22,72,72,20,27,4,54,11,...,13,28,17,10,18,54,36,64,72,6

In [23]:
tabella.max(axis = 1)

Years     United Republic of Tanzania
2017                               99
2017.1                             99
2017.2                             99
2017.3                             98
                     ...
2000.1                             99
2000.2                             99
2000.3                             98
2000.4                             99
2000.5                             98
Length: 109, dtype: object

In [24]:
tabella.min(axis = 1)

Years     Albania
2017        Total
2017.1      Urban
2017.2      Rural
2017.3      Total
           ...
2000.1      Urban
2000.2      Rural
2000.3      Total
2000.4      Urban
2000.5      Rural
Length: 109, dtype: object

***

### **CONCATENAZIONE DI DATAFRAME**

In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv(r"C:\Users\franc\Documents\UNIMI\COMPUTER SOCIETY\LIFEEX.csv")  # importo un altro dataframe 
df

,Unnamed: 0,Unnamed: 1,Life expectancy at birth (years),Life expectancy at birth (years).1,Life expectancy at birth (years).2,Life expectancy at age 60 (years),Life expectancy at age 60 (years).1,Life expectancy at age 60 (years).2,Healthy life expectancy (HALE) at birth (years),Healthy life expectancy (HALE) at birth (years).1,Healthy life expectancy (HALE) at birth (years).2,Healthy life expectancy (HALE) at age 60 (years),Healthy life expectancy (HALE) at age 60 (years).1,Healthy life expectancy (HALE) at age 60 (years).2
0,WHO region,Year,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
1,Global,2016,72.0,69.8,74.2,20.5,19.0,21.9,63.3,62.0,64.8,15.8,14.8,16.8
2,Global,2015,71.7,69.5,73.9,20.4,18.9,21.8,63.0,61.7,64.5,15.7,14.7,16.6
3,Global,2010,70.1,68.0,72.3,19.9,18.4,21.3,61.7,60.4,63.1,15.3,14.3,16.2
4,Global,2005,68.2,66.1,70.3,19.3,17.8,20.7,60.0,58.7,61.3,14.8,13.7,15.8
5,Global,2000,66.5,64.4,68.7,18.8,17.2,20.2,58.5,57.2,59.9,14.3,13.2,15.4
6,Africa,2016,61.2,59.6,62.7,16.6,15.9,17.3,53.8,52.6,54.9,12.5,12.0,13.1
7,Africa,2015,60.7,59.1,62.2,16.6,15.8,17.3,53.3,52.1,54.4,12.4,11.8,13.0
8,Africa,2010,57.6,56.4,58.8,16.1,15.4,16.7,50.4,49.6,51.3,12.0,11.5,12.4
9,Africa,2005,53.4,52.3,54.4,15.4,14.7,16.1,46.7,46.0,47.4,11.4,10.9,11.8
10,Africa,2000,50.8,49.6,52.1,15.0,14.3,15.6,44.4,43.5,45.3,11.0,10.5,11.4
11,Americas,2016,76.8,73.8,79.8,22.7,21.1,24.3,67.5,65.5,69.6,17.6,16.4,18.7
12,Americas,2015,76.6,73.7,79.6,22.6,21.0,24.1,67.4,65.3,69.5,17.5,16.2,18.6
13,Americas,2010,75.3,72.3,78.4,22.1,20.4,23.6,66.3,64.1,68.4,17.0,15.8,18.2
14,Americas,2005,74.9,71.9,77.9,21.5,19.8,23.1,66.0,63.8,68.1,16.6,15.3,17.8
15,Americas,2000,73.6,70.4,76.8,20.9,19.1,22.5,64.9,62.6,67.1,16.2,14.8,17.4
16,South-East Asia,2016,69.5,67.9,71.3,18.2,17.2,19.1,60.4,59.5,61.3,13.3,12.7,13.9
17,South-East Asia,2015,69.2,67.6,70.9,18.1,17.1,19.0,60.0,59.2,60.9,13.2,12.6,13.7
18,South-East Asia,2010,67.4,66.1,68.7,17.6,16.7,18.4,58.5,57.9,59.0,12.7,12.2,13.2
19,South-East Asia,2005,65.4,64.4,66.4,17.0,16.2,17.8,56.6,56.3,56.9,12.2,11.8,12.7
20,South-East Asia,2000,63.5,62.5,64.4,16.7,15.8,17.5,54.8,54.5,55.1,11.9,11.4,12.4
21,Europe,2016,77.5,74.2,80.8,22.3,20.2,24.1,68.4,66.1,70.7,17.4,15.9,18.7
22,Europe,2015,77.2,73.8,80.5,22.1,20.0,23.9,68.1,65.7,70.5,17.2,15.7,18.5
23,Europe,2010,75.7,72.0,79.3,21.4,19.2,23.2,66.9,64.3,69.5,16.7,15.1,18.0
24,Europe,2005,73.5,69.5,77.6,20.3,18.1,22.3,65.1,62.2,68.2,15.8,14.2,17.3
25,Europe,2000,72.5,68.4,76.7,19.7,17.3,21.6,64.2,61.2,67.3,15.3,13.5,16.7
26,Eastern Mediterranean,2016,69.1,67.7,70.7,18.2,17.5,19.0,59.7,59.1,60.4,13.3,13.0,13.6
27,Eastern Mediterranean,2015,68.8,67.4,70.4,18.1,17.4,18.8,59.4,58.8,60.1,13.2,12.9,13.5
28,Eastern Mediterranean,2010,68.1,66.7,69.5,18.0,17.3,18.7,58.6,58.1,59.2,13.0,12.7,13.3
29,Eastern Mediterranean,2005,66.2,64.8,67.8,17.6,16.9,18.4,57.0,56.4,57.6,12.6,12.3,12.9
30,Eastern Mediterranean,2000,65.5,64.2,66.9,17.5,16.8,18.2,56.2,55.8,56.8,12.4,12.1,12.7
31,Western Pacific,2016,76.9,75.0,78.9,21.0,19.5,22.5,68.9,67.7,70.0,16.6,15.6,17.6
32,Western Pacific,2015,76.7,74.8,78.8,20.9,19.4,22.4,68.6,67.5,69.8,16.5,15.5,17.5
33,Western Pacific,2010,75.8,73.8,77.9,20.5,19.0,22.1,67.8,66.7,69.1,16.2,15.1,17.3
34,Western Pacific,2005,74.7,72.7,76.8,20.1,18.6,21.6,66.9,65.7,68.1,15.9,14.8,16.9
35,Western Pacific,2000,72.8,70.8,75.0,19.3,17.8,20.9,65.2,64.0,66.5,15.3,14.2,16.3

* Per prima cosa faccio qualche operazione per ordinare il mio dataset

In [27]:
data = df.rename(columns={'Unnamed: 0' : 'WHO Region', 'Unnamed: 1' : 'Year'})  # per rinominare il nome della prima e seconda colonna, passo i vecchi e nuovi nomi come dizionario
# ho utilizzato la funzione rename
data

,WHO Region,Year,Life expectancy at birth (years),Life expectancy at birth (years).1,Life expectancy at birth (years).2,Life expectancy at age 60 (years),Life expectancy at age 60 (years).1,Life expectancy at age 60 (years).2,Healthy life expectancy (HALE) at birth (years),Healthy life expectancy (HALE) at birth (years).1,Healthy life expectancy (HALE) at birth (years).2,Healthy life expectancy (HALE) at age 60 (years),Healthy life expectancy (HALE) at age 60 (years).1,Healthy life expectancy (HALE) at age 60 (years).2
0,WHO region,Year,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
1,Global,2016,72.0,69.8,74.2,20.5,19.0,21.9,63.3,62.0,64.8,15.8,14.8,16.8
2,Global,2015,71.7,69.5,73.9,20.4,18.9,21.8,63.0,61.7,64.5,15.7,14.7,16.6
3,Global,2010,70.1,68.0,72.3,19.9,18.4,21.3,61.7,60.4,63.1,15.3,14.3,16.2
4,Global,2005,68.2,66.1,70.3,19.3,17.8,20.7,60.0,58.7,61.3,14.8,13.7,15.8
5,Global,2000,66.5,64.4,68.7,18.8,17.2,20.2,58.5,57.2,59.9,14.3,13.2,15.4
6,Africa,2016,61.2,59.6,62.7,16.6,15.9,17.3,53.8,52.6,54.9,12.5,12.0,13.1
7,Africa,2015,60.7,59.1,62.2,16.6,15.8,17.3,53.3,52.1,54.4,12.4,11.8,13.0
8,Africa,2010,57.6,56.4,58.8,16.1,15.4,16.7,50.4,49.6,51.3,12.0,11.5,12.4
9,Africa,2005,53.4,52.3,54.4,15.4,14.7,16.1,46.7,46.0,47.4,11.4,10.9,11.8
10,Africa,2000,50.8,49.6,52.1,15.0,14.3,15.6,44.4,43.5,45.3,11.0,10.5,11.4
11,Americas,2016,76.8,73.8,79.8,22.7,21.1,24.3,67.5,65.5,69.6,17.6,16.4,18.7
12,Americas,2015,76.6,73.7,79.6,22.6,21.0,24.1,67.4,65.3,69.5,17.5,16.2,18.6
13,Americas,2010,75.3,72.3,78.4,22.1,20.4,23.6,66.3,64.1,68.4,17.0,15.8,18.2
14,Americas,2005,74.9,71.9,77.9,21.5,19.8,23.1,66.0,63.8,68.1,16.6,15.3,17.8
15,Americas,2000,73.6,70.4,76.8,20.9,19.1,22.5,64.9,62.6,67.1,16.2,14.8,17.4
16,South-East Asia,2016,69.5,67.9,71.3,18.2,17.2,19.1,60.4,59.5,61.3,13.3,12.7,13.9
17,South-East Asia,2015,69.2,67.6,70.9,18.1,17.1,19.0,60.0,59.2,60.9,13.2,12.6,13.7
18,South-East Asia,2010,67.4,66.1,68.7,17.6,16.7,18.4,58.5,57.9,59.0,12.7,12.2,13.2
19,South-East Asia,2005,65.4,64.4,66.4,17.0,16.2,17.8,56.6,56.3,56.9,12.2,11.8,12.7
20,South-East Asia,2000,63.5,62.5,64.4,16.7,15.8,17.5,54.8,54.5,55.1,11.9,11.4,12.4
21,Europe,2016,77.5,74.2,80.8,22.3,20.2,24.1,68.4,66.1,70.7,17.4,15.9,18.7
22,Europe,2015,77.2,73.8,80.5,22.1,20.0,23.9,68.1,65.7,70.5,17.2,15.7,18.5
23,Europe,2010,75.7,72.0,79.3,21.4,19.2,23.2,66.9,64.3,69.5,16.7,15.1,18.0
24,Europe,2005,73.5,69.5,77.6,20.3,18.1,22.3,65.1,62.2,68.2,15.8,14.2,17.3
25,Europe,2000,72.5,68.4,76.7,19.7,17.3,21.6,64.2,61.2,67.3,15.3,13.5,16.7
26,Eastern Mediterranean,2016,69.1,67.7,70.7,18.2,17.5,19.0,59.7,59.1,60.4,13.3,13.0,13.6
27,Eastern Mediterranean,2015,68.8,67.4,70.4,18.1,17.4,18.8,59.4,58.8,60.1,13.2,12.9,13.5
28,Eastern Mediterranean,2010,68.1,66.7,69.5,18.0,17.3,18.7,58.6,58.1,59.2,13.0,12.7,13.3
29,Eastern Mediterranean,2005,66.2,64.8,67.8,17.6,16.9,18.4,57.0,56.4,57.6,12.6,12.3,12.9
30,Eastern Mediterranean,2000,65.5,64.2,66.9,17.5,16.8,18.2,56.2,55.8,56.8,12.4,12.1,12.7
31,Western Pacific,2016,76.9,75.0,78.9,21.0,19.5,22.5,68.9,67.7,70.0,16.6,15.6,17.6
32,Western Pacific,2015,76.7,74.8,78.8,20.9,19.4,22.4,68.6,67.5,69.8,16.5,15.5,17.5
33,Western Pacific,2010,75.8,73.8,77.9,20.5,19.0,22.1,67.8,66.7,69.1,16.2,15.1,17.3
34,Western Pacific,2005,74.7,72.7,76.8,20.1,18.6,21.6,66.9,65.7,68.1,15.9,14.8,16.9
35,Western Pacific,2000,72.8,70.8,75.0,19.3,17.8,20.9,65.2,64.0,66.5,15.3,14.2,16.3

In [28]:
pd.concat([tabella, data], join = 'inner',  ignore_index = False, axis = 1)

Empty DataFrame
Columns: [1, 3, 4, 5, 11, 17, 33, 37, 47, 51, 54, 59, 68, 78, 83, 84, 85, 95, 96, 101, 102, 107, 108, 123, 126, 127, 135, 137, 145, 150, 154, 157, 159, 165, 169, 170, 185, 186, WHO Region, Year, Life expectancy at birth (years), Life expectancy at birth (years).1, Life expectancy at birth (years).2, Life expectancy at age 60 (years), Life expectancy at age 60 (years).1, Life expectancy at age 60 (years).2, Healthy life expectancy (HALE) at birth (years), Healthy life expectancy (HALE) at birth (years).1, Healthy life expectancy (HALE) at birth (years).2, Healthy life expectancy (HALE) at age 60 (years), Healthy life expectancy (HALE) at age 60 (years).1, Healthy life expectancy (HALE) at age 60 (years).2]
Index: []

[0 rows x 52 columns]