## ***Basic*** and ***safely*** managed ***sanitation*** services in different countries
(servizi sanitari di base e gestiti in sicurezza nei diversi paesi)

***

 Il lavoro consiste in un'analisi dettagliata di dati open source importati da una **fonte di Open Data** circa **fenomeni mondiali**
   
   **FONTE:** WHO/OMS Global Health Data Repository: [https://apps.who.int/gho/data/node.home ]
   
   From **6.2** SDG health and health-related targets **(Sanitation and hygiene)** in the section Water and sanitation, concatenated to the dataframe of the Health Equity Monitor section.

### **OBIETTIVO ANALISI**

***L'analisi ha l'obiettivo di individuare il fenomeno della stratificazione sociale e le disuguaglianze di salute dovute a diverse condizioni socio-economiche e culturali***

La classe sociale di appartenenza della popolazione è associata anche al concetto di aspettativa di vita. 
L'analisi vuole mettere in evidenza come le classi medie-alte hanno maggiori aspettative di vita, maggiore accesso alle risorse economiche , e come la differenza tra lavoro urbano e lavoro agricolo sia determinante per il tipo di stile di vita condotto e per la possibilità di ammalarsi o godere di una buona salute. 

Inoltre l'obiettivo è quello di mettere in relazione alcuni fattori socio-culturali con altri fattori economici, si evidenzia la correlazione tra livello di istruzione e aspettativa e stile di vita della persona.
  Le classi sociali con maggiori risorse materiali (risorse economiche) avranno maggior accesso anche a quelle immateriali (servizi igenico-sanitari)

1. **librerie da importare**

In [508]:
import numpy as np
import pandas as pd

2. dopo aver fatto il **download completo del data set come CSV table**, ho **salvato in locale** e attraverso il comando **head()** che permette la visualizzazione delle prime n righe del dataframe in esame, ho **visualizzato il file**. Si può specificare il numero di righe da visualizzare, esempio-head(20)-

In [509]:
df_sanitation = pd.read_csv(r"C:\Users\franc\Documents\UNIMI\COMPUTER SOCIETY\WSH_SANITATION_SAFELY_MANAGED,WSH_SANITATION_BASIC.csv")

In [510]:
df_sanitation.head(20)

,Unnamed: 0,2017,2017.1,2017.2,2017.3,2017.4,2017.5,2016,2016.1,2016.2,...,2001.2,2001.3,2001.4,2001.5,2000,2000.1,2000.2,2000.3,2000.4,2000.5
0,NaN,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,...,Population using at least basic sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...
1,Country,Total,Urban,Rural,Total,Urban,Rural,Total,Urban,Rural,...,Rural,Total,Urban,Rural,Total,Urban,Rural,Total,Urban,Rural
2,Afghanistan,43,62,37,NaN,NaN,NaN,42,60,36,...,22,NaN,NaN,NaN,24,30,22,NaN,NaN,NaN
3,Albania,98,98,97,40,40,39,98,98,97,...,83,38,40,37,88,97,82,39,40,38
4,Algeria,88,90,82,18,16,21,88,90,82,...,73,19,18,19,84,91,72,19,18,19
5,Andorra,100,100,100,100,100,100,100,100,100,...,100,22,22,22,100,100,100,15,15,15
6,Angola,50,64,23,NaN,NaN,NaN,49,63,22,...,8,NaN,NaN,NaN,28,48,8,NaN,NaN,NaN
7,Antigua and Barbuda,88,NaN,NaN,NaN,NaN,NaN,88,NaN,NaN,...,NaN,NaN,NaN,NaN,82,NaN,NaN,NaN,NaN,NaN
8,Argentina,NaN,96,NaN,NaN,NaN,NaN,94,96,77,...,69,NaN,NaN,NaN,87,89,69,NaN,NaN,NaN
9,Armenia,94,100,83,48,45,NaN,93,100,83,...,77,47,45,NaN,87,92,77,47,45,NaN
10,Australia,100,NaN,NaN,76,NaN,NaN,100,NaN,NaN,...,NaN,64,NaN,NaN,100,NaN,NaN,64,NaN,NaN
11,Austria,100,100,100,97,100,92,100,100,100,...,100,97,100,92,100,100,100,97,100,92
12,Azerbaijan,93,96,88,NaN,92,NaN,92,96,88,...,55,NaN,71,NaN,63,73,53,NaN,70,NaN
13,Bahamas,95,NaN,NaN,NaN,NaN,NaN,95,NaN,NaN,...,NaN,NaN,NaN,NaN,88,NaN,NaN,NaN,NaN,NaN
14,Bahrain,100,NaN,NaN,96,NaN,NaN,100,NaN,NaN,...,NaN,96,NaN,NaN,100,NaN,NaN,96,NaN,NaN
15,Bangladesh,48,51,47,NaN,NaN,32,47,50,45,...,21,NaN,NaN,15,26,44,20,NaN,NaN,14
16,Barbados,97,NaN,NaN,NaN,NaN,NaN,97,NaN,NaN,...,NaN,NaN,NaN,NaN,89,NaN,NaN,NaN,NaN,NaN
17,Belarus,98,98,96,81,82,76,98,98,96,...,96,90,88,94,92,90,96,90,88,94
18,Belgium,99,99,99,97,NaN,NaN,99,99,99,...,99,86,NaN,NaN,99,99,99,86,NaN,NaN
19,Belize,88,93,83,NaN,NaN,NaN,88,93,83,...,80,NaN,NaN,NaN,82,85,80,NaN,NaN,NaN

Si tratta di una tabella a doppia entrata che mette in rilievo negli anni, dal 2013 al 2017, la percentuale di popolazione che fa uso dei servizi sanitari a seconda delle due diversificate zone, urbane e rurali, dei vari paesi.

**variabili:**
1. la percentuale di popolazione che utilizza almeno servizi sanitari di base
2. la percentuale di popolazione che utilizza servizi sanitari gestiti in sicurezza

3. variabile anni (dal 2013 al 2017)

4. la variabile Country di tipo categoriale, è divisa in 3 sotto categorie: Total, Urban and Rural.

In [511]:
# vogliamo vedere che tipo di dati sono
type(df_sanitation)   # dataframe = dati in formato tabellare tipici della libraria Pandas

pandas.core.frame.DataFrame

In [512]:
 #avrei potuto utilizzare la print per vederle tutte ma graficamente è più efficace head()

***

### Alcune operazioni per ordinare il dataframe

In [522]:
new = df_sanitation.rename(columns={'Unnamed: 0' : 'Years', '2017.1' : '2017', '2017.2' : '2017'})  # ho provato a modificare l'anno 2017 con la funzione rename
new

,Years,2017,2017,2017,2017.3,2017.4,2017.5,2016,2016.1,2016.2,...,2001.2,2001.3,2001.4,2001.5,2000,2000.1,2000.2,2000.3,2000.4,2000.5
0,NaN,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,...,Population using at least basic sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...
1,Country,Total,Urban,Rural,Total,Urban,Rural,Total,Urban,Rural,...,Rural,Total,Urban,Rural,Total,Urban,Rural,Total,Urban,Rural
2,Afghanistan,43,62,37,NaN,NaN,NaN,42,60,36,...,22,NaN,NaN,NaN,24,30,22,NaN,NaN,NaN
3,Albania,98,98,97,40,40,39,98,98,97,...,83,38,40,37,88,97,82,39,40,38
4,Algeria,88,90,82,18,16,21,88,90,82,...,73,19,18,19,84,91,72,19,18,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Venezuela (Bolivarian Republic of),94,NaN,NaN,24,NaN,NaN,94,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,Viet Nam,84,94,78,NaN,NaN,NaN,82,94,76,...,45,NaN,NaN,NaN,52,81,43,NaN,NaN,NaN
193,Yemen,59,88,43,NaN,67,NaN,59,88,43,...,27,NaN,67,NaN,42,86,27,NaN,67,NaN
194,Zambia,26,36,19,NaN,NaN,NaN,26,36,19,...,12,NaN,NaN,NaN,24,46,12,NaN,NaN,NaN
195,Zimbabwe,36,46,31,NaN,16,NaN,37,48,32,...,36,NaN,23,NaN,46,65,36,NaN,23,NaN

In [523]:
new = new.set_index('Years')   # indicizzo secondo Country
new

,2017,2017,2017,2017.3,2017.4,2017.5,2016,2016.1,2016.2,2016.3,...,2001.2,2001.3,2001.4,2001.5,2000,2000.1,2000.2,2000.3,2000.4,2000.5
Years,,,,,,,,,,,,,,,,,,,,,
NaN,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using safely managed sanitation se...,...,Population using at least basic sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using at least basic sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...,Population using safely managed sanitation se...
Country,Total,Urban,Rural,Total,Urban,Rural,Total,Urban,Rural,Total,...,Rural,Total,Urban,Rural,Total,Urban,Rural,Total,Urban,Rural
Afghanistan,43,62,37,NaN,NaN,NaN,42,60,36,NaN,...,22,NaN,NaN,NaN,24,30,22,NaN,NaN,NaN
Albania,98,98,97,40,40,39,98,98,97,40,...,83,38,40,37,88,97,82,39,40,38
Algeria,88,90,82,18,16,21,88,90,82,18,...,73,19,18,19,84,91,72,19,18,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),94,NaN,NaN,24,NaN,NaN,94,NaN,NaN,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Viet Nam,84,94,78,NaN,NaN,NaN,82,94,76,NaN,...,45,NaN,NaN,NaN,52,81,43,NaN,NaN,NaN
Yemen,59,88,43,NaN,67,NaN,59,88,43,NaN,...,27,NaN,67,NaN,42,86,27,NaN,67,NaN
Zambia,26,36,19,NaN,NaN,NaN,26,36,19,NaN,...,12,NaN,NaN,NaN,24,46,12,NaN,NaN,NaN
Zimbabwe,36,46,31,NaN,16,NaN,37,48,32,NaN,...,36,NaN,23,NaN,46,65,36,NaN,23,NaN

In [524]:
new['2000.5']   # esempio di selezione di colonna

Years
NaN                                    Population using safely managed sanitation se...
Country                                                                           Rural
Afghanistan                                                                         NaN
Albania                                                                              38
Algeria                                                                              19
                                                            ...
Venezuela (Bolivarian Republic of)                                                  NaN
Viet Nam                                                                            NaN
Yemen                                                                               NaN
Zambia                                                                              NaN
Zimbabwe                                                                            NaN
Name: 2000.5, Length: 196, dtype: object

In [538]:
new.transpose()  # utilizzo la funzione 'Trasposta' per una nuova visualizzazione del dataframe, composto da 38 Stati come colonne e 109 righe riferite gli anni

Years,NaN,Country,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
2017,Population using at least basic sanitation se...,Total,43,98,88,100,50,88,NaN,94,...,30,100,97,100,34,94,84,59,26,36
2017,Population using at least basic sanitation se...,Urban,62,98,90,100,64,NaN,96,100,...,43,100,97,100,48,NaN,94,88,36,46
2017,Population using at least basic sanitation se...,Rural,37,97,82,100,23,NaN,NaN,83,...,24,100,97,100,29,NaN,78,43,19,31
2017.3,Population using safely managed sanitation se...,Total,NaN,40,18,100,NaN,NaN,NaN,48,...,25,90,NaN,NaN,NaN,24,NaN,NaN,NaN,NaN
2017.4,Population using safely managed sanitation se...,Urban,NaN,40,16,100,NaN,NaN,NaN,45,...,31,95,NaN,NaN,NaN,NaN,NaN,67,NaN,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000.1,Population using at least basic sanitation se...,Urban,30,97,91,100,48,NaN,89,92,...,11,100,95,98,67,NaN,81,86,46,65
2000.2,Population using at least basic sanitation se...,Rural,22,82,72,100,8,NaN,69,77,...,3,100,85,88,60,NaN,43,27,12,36
2000.3,Population using safely managed sanitation se...,Total,NaN,39,19,15,NaN,NaN,NaN,47,...,4,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000.4,Population using safely managed sanitation se...,Urban,NaN,40,18,15,NaN,NaN,NaN,45,...,9,95,NaN,NaN,NaN,NaN,NaN,67,NaN,23
2000.5,Population using safely managed sanitation se...,Rural,NaN,38,19,15,NaN,NaN,NaN,NaN,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Dalla visualizzazione di questa tabella è possibile osservare come in media, la percentuale più alta della popolazione delle varie nazioni, sia che utilizzino servizi sanitari di base, sia che utilizzino servizi gestiti in più sicurezza, appartiene alla classe urbana (e non a quella rurale). 
#### Da ciò si deduce come un primo fattore di incidenza, nonostante il minimo scostamento per alcune nazioni, sia la posizione geografica di residenza: la popolazione che vive in zone urbane ed è impiegata in lavori più salubri e redditizi avrà maggior accesso alla sanità. 

###### -questi dati sono importanti al fine di spiegare questa correlazione.

***

##### Utilizzo la funzione stack per organizzare il mio dataframe in modo da poter eseguire più facilmente le operazioni

In [527]:
stacked = new.stack(level= -1, dropna= True)  # con la funzione stack trasformo l'indice in variabile o colonna. I valori associati a queste righe (non hanno un nome di colonna), vengono impilate
stacked

Years
NaN       2017       Population using at least basic sanitation se...
          2017       Population using at least basic sanitation se...
          2017       Population using at least basic sanitation se...
          2017.3     Population using safely managed sanitation se...
          2017.4     Population using safely managed sanitation se...
                                          ...
Zimbabwe  2001.4                                                   23
          2000                                                     46
          2000.1                                                   65
          2000.2                                                   36
          2000.4                                                   23
Length: 13239, dtype: object

In [528]:
# in questo modo per fare delle operazioni dovrò accedere alla selezione tramite la variabile Country

In [529]:
stacked.loc[['Albania', 'Zambia']]  # esempio di selezione con funzione loc. Doppia parentesi quadra perchè sto specificando una lista

Years
Albania  2017      98
         2017      98
         2017      97
         2017.3    40
         2017.4    40
                   ..
Zambia   2001.1    45
         2001.2    12
         2000      24
         2000.1    46
         2000.2    12
Length: 162, dtype: object

#### Analizziamo che tipo di dati sono

***

### **MASCHERE BOOLEANE**

Creiamo due mask di valori booleani secondo le due condizioni (urban e rural)

In [532]:
# importazione librerie per la visualizzazione grafica 
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn; seaborn.set()
seaborn.scatterplot(data= stacked, x='Years', y='Andorra', hue='3')   # il risultato del grafico è sbagliato, è da rifare

ValueError: Could not interpret input 'Years'

### **ANALISI VALORI NULLI (NAN)**

Il linguaggio di programmazione Python che si sta utilizzando, introduce una serie di dati mancanti:

**-NONE
-NAN**

Visualizziamo e analizziamo nello specifico i valori nulli nel dataset

funzione ***isnull*** genera una maschera booleana che indica i valori mancanti

In [533]:
stacked.isnull().any  # restituisce valore booleano
# sono presenti alcuni valori nulli in determinate righe, dunque nella nostra analisi possono esserci problemi dovuti a missing value

<bound method Series.any of Years
NaN       2017      False
          2017      False
          2017      False
          2017.3    False
          2017.4    False
                    ...
Zimbabwe  2001.4    False
          2000      False
          2000.1    False
          2000.2    False
          2000.4    False
Length: 13239, dtype: bool>

Oppure

##### **Del processo di esportazione non si ha informazioni, durante tale operazione possono venire a mancare alcuni dati che si sono cancellati o persi**

E' opportuno ragionare sia sui dati mancanti autodescrittivi, che sono evidenti ed espliciti, sia sul fatto che il risultato finale dell'analisi possibilmente sarà influenzato dai dati mancanti. 

**NAN (not a number)** è il tipo di dato mancante introdotto da Python specifico per i numeri decimali, è trattato come floating point (virgola mobile), diverso da **NONE** (codifica generica per tutti i dati-object-)

Non fare un'accurata analisi dei dati mancanti è un errore dal punto di vista metodologico

***Quale conseguenze in presenza di NAN?***

è possibile procedere in due modi: 

-sostituendo in modo esplicito Nan con 0 (np.nansum fa la somma interpretando NAN come 0), oppure con altri valori specificati (data.fillna(0)); 

-eliminando il valore mancante (dropna( )).

Cancellare l'intera riga o il 50% delle righe non porta ad avere efficaci risultati, perchè si eliminerebbero dati che per una variabile sono mancanti ma per altre no.

#### Dunque sarebbe opportuno filtrare tutte le righe che restituiscono il valore booleano FALSE in un'unica colonna.

In [534]:
stacked.dropna(inplace=True) # oppure visualizzazione finale del dataset eliminando le righe in cui sono contenuti valori NaN
stacked

Years
NaN       2017       Population using at least basic sanitation se...
          2017       Population using at least basic sanitation se...
          2017       Population using at least basic sanitation se...
          2017.3     Population using safely managed sanitation se...
          2017.4     Population using safely managed sanitation se...
                                          ...
Zimbabwe  2001.4                                                   23
          2000                                                     46
          2000.1                                                   65
          2000.2                                                   36
          2000.4                                                   23
Length: 13239, dtype: object

***

#### Definire condizioni logiche selezionando colonne - funzione QUERY

***

In [553]:
stacked[1]   # seleziono la prima colonna in stile dizionario

' Population using at least basic sanitation services (%)'

In [554]:
stacked.values # tutti i valori del dataframe

array([' Population using at least basic sanitation services (%)',
       ' Population using at least basic sanitation services (%)',
       ' Population using at least basic sanitation services (%)', ...,
       '65', '36', '23'], dtype=object)

In [555]:
stacked.describe()  # utilizzo un metodo conveniente attraverso la funzione 'Describe' che calcola aggregati comuni per ogni colonna e ritorna i risultati. Descrive ogni gruppo nei dati

count     13239
unique      105
top         100
freq       1089
dtype: object

In [556]:
stacked.max(axis = 1)

ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>

In [557]:
stacked.min(axis = 1)

ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>

***

### **CONCATENAZIONE DI DATAFRAME**

In [397]:
import pandas as pd
import numpy as np

In [398]:
df = pd.read_csv(r"C:\Users\franc\Documents\UNIMI\COMPUTER SOCIETY\LIFEEX.csv")  # importo un altro dataframe 
df

,Unnamed: 0,Unnamed: 1,Life expectancy at birth (years),Life expectancy at birth (years).1,Life expectancy at birth (years).2,Life expectancy at age 60 (years),Life expectancy at age 60 (years).1,Life expectancy at age 60 (years).2,Healthy life expectancy (HALE) at birth (years),Healthy life expectancy (HALE) at birth (years).1,Healthy life expectancy (HALE) at birth (years).2,Healthy life expectancy (HALE) at age 60 (years),Healthy life expectancy (HALE) at age 60 (years).1,Healthy life expectancy (HALE) at age 60 (years).2
0,WHO region,Year,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
1,Global,2016,72.0,69.8,74.2,20.5,19.0,21.9,63.3,62.0,64.8,15.8,14.8,16.8
2,Global,2015,71.7,69.5,73.9,20.4,18.9,21.8,63.0,61.7,64.5,15.7,14.7,16.6
3,Global,2010,70.1,68.0,72.3,19.9,18.4,21.3,61.7,60.4,63.1,15.3,14.3,16.2
4,Global,2005,68.2,66.1,70.3,19.3,17.8,20.7,60.0,58.7,61.3,14.8,13.7,15.8
5,Global,2000,66.5,64.4,68.7,18.8,17.2,20.2,58.5,57.2,59.9,14.3,13.2,15.4
6,Africa,2016,61.2,59.6,62.7,16.6,15.9,17.3,53.8,52.6,54.9,12.5,12.0,13.1
7,Africa,2015,60.7,59.1,62.2,16.6,15.8,17.3,53.3,52.1,54.4,12.4,11.8,13.0
8,Africa,2010,57.6,56.4,58.8,16.1,15.4,16.7,50.4,49.6,51.3,12.0,11.5,12.4
9,Africa,2005,53.4,52.3,54.4,15.4,14.7,16.1,46.7,46.0,47.4,11.4,10.9,11.8
10,Africa,2000,50.8,49.6,52.1,15.0,14.3,15.6,44.4,43.5,45.3,11.0,10.5,11.4
11,Americas,2016,76.8,73.8,79.8,22.7,21.1,24.3,67.5,65.5,69.6,17.6,16.4,18.7
12,Americas,2015,76.6,73.7,79.6,22.6,21.0,24.1,67.4,65.3,69.5,17.5,16.2,18.6
13,Americas,2010,75.3,72.3,78.4,22.1,20.4,23.6,66.3,64.1,68.4,17.0,15.8,18.2
14,Americas,2005,74.9,71.9,77.9,21.5,19.8,23.1,66.0,63.8,68.1,16.6,15.3,17.8
15,Americas,2000,73.6,70.4,76.8,20.9,19.1,22.5,64.9,62.6,67.1,16.2,14.8,17.4
16,South-East Asia,2016,69.5,67.9,71.3,18.2,17.2,19.1,60.4,59.5,61.3,13.3,12.7,13.9
17,South-East Asia,2015,69.2,67.6,70.9,18.1,17.1,19.0,60.0,59.2,60.9,13.2,12.6,13.7
18,South-East Asia,2010,67.4,66.1,68.7,17.6,16.7,18.4,58.5,57.9,59.0,12.7,12.2,13.2
19,South-East Asia,2005,65.4,64.4,66.4,17.0,16.2,17.8,56.6,56.3,56.9,12.2,11.8,12.7
20,South-East Asia,2000,63.5,62.5,64.4,16.7,15.8,17.5,54.8,54.5,55.1,11.9,11.4,12.4
21,Europe,2016,77.5,74.2,80.8,22.3,20.2,24.1,68.4,66.1,70.7,17.4,15.9,18.7
22,Europe,2015,77.2,73.8,80.5,22.1,20.0,23.9,68.1,65.7,70.5,17.2,15.7,18.5
23,Europe,2010,75.7,72.0,79.3,21.4,19.2,23.2,66.9,64.3,69.5,16.7,15.1,18.0
24,Europe,2005,73.5,69.5,77.6,20.3,18.1,22.3,65.1,62.2,68.2,15.8,14.2,17.3
25,Europe,2000,72.5,68.4,76.7,19.7,17.3,21.6,64.2,61.2,67.3,15.3,13.5,16.7
26,Eastern Mediterranean,2016,69.1,67.7,70.7,18.2,17.5,19.0,59.7,59.1,60.4,13.3,13.0,13.6
27,Eastern Mediterranean,2015,68.8,67.4,70.4,18.1,17.4,18.8,59.4,58.8,60.1,13.2,12.9,13.5
28,Eastern Mediterranean,2010,68.1,66.7,69.5,18.0,17.3,18.7,58.6,58.1,59.2,13.0,12.7,13.3
29,Eastern Mediterranean,2005,66.2,64.8,67.8,17.6,16.9,18.4,57.0,56.4,57.6,12.6,12.3,12.9
30,Eastern Mediterranean,2000,65.5,64.2,66.9,17.5,16.8,18.2,56.2,55.8,56.8,12.4,12.1,12.7
31,Western Pacific,2016,76.9,75.0,78.9,21.0,19.5,22.5,68.9,67.7,70.0,16.6,15.6,17.6
32,Western Pacific,2015,76.7,74.8,78.8,20.9,19.4,22.4,68.6,67.5,69.8,16.5,15.5,17.5
33,Western Pacific,2010,75.8,73.8,77.9,20.5,19.0,22.1,67.8,66.7,69.1,16.2,15.1,17.3
34,Western Pacific,2005,74.7,72.7,76.8,20.1,18.6,21.6,66.9,65.7,68.1,15.9,14.8,16.9
35,Western Pacific,2000,72.8,70.8,75.0,19.3,17.8,20.9,65.2,64.0,66.5,15.3,14.2,16.3

* Per prima cosa faccio qualche operazione per ordinare il mio dataset

In [418]:
data = df.rename(columns={'Unnamed: 0' : 'Continent', 'Unnamed: 1' : 'Year'})  # per rinominare il nome della prima e seconda colonna, passo i vecchi e nuovi nomi come dizionario
# ho utilizzato la funzione rename
data

,Continent,Year,Life expectancy at birth (years),Life expectancy at birth (years).1,Life expectancy at birth (years).2,Life expectancy at age 60 (years),Life expectancy at age 60 (years).1,Life expectancy at age 60 (years).2,Healthy life expectancy (HALE) at birth (years),Healthy life expectancy (HALE) at birth (years).1,Healthy life expectancy (HALE) at birth (years).2,Healthy life expectancy (HALE) at age 60 (years),Healthy life expectancy (HALE) at age 60 (years).1,Healthy life expectancy (HALE) at age 60 (years).2
0,WHO region,Year,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
1,Global,2016,72.0,69.8,74.2,20.5,19.0,21.9,63.3,62.0,64.8,15.8,14.8,16.8
2,Global,2015,71.7,69.5,73.9,20.4,18.9,21.8,63.0,61.7,64.5,15.7,14.7,16.6
3,Global,2010,70.1,68.0,72.3,19.9,18.4,21.3,61.7,60.4,63.1,15.3,14.3,16.2
4,Global,2005,68.2,66.1,70.3,19.3,17.8,20.7,60.0,58.7,61.3,14.8,13.7,15.8
5,Global,2000,66.5,64.4,68.7,18.8,17.2,20.2,58.5,57.2,59.9,14.3,13.2,15.4
6,Africa,2016,61.2,59.6,62.7,16.6,15.9,17.3,53.8,52.6,54.9,12.5,12.0,13.1
7,Africa,2015,60.7,59.1,62.2,16.6,15.8,17.3,53.3,52.1,54.4,12.4,11.8,13.0
8,Africa,2010,57.6,56.4,58.8,16.1,15.4,16.7,50.4,49.6,51.3,12.0,11.5,12.4
9,Africa,2005,53.4,52.3,54.4,15.4,14.7,16.1,46.7,46.0,47.4,11.4,10.9,11.8
10,Africa,2000,50.8,49.6,52.1,15.0,14.3,15.6,44.4,43.5,45.3,11.0,10.5,11.4
11,Americas,2016,76.8,73.8,79.8,22.7,21.1,24.3,67.5,65.5,69.6,17.6,16.4,18.7
12,Americas,2015,76.6,73.7,79.6,22.6,21.0,24.1,67.4,65.3,69.5,17.5,16.2,18.6
13,Americas,2010,75.3,72.3,78.4,22.1,20.4,23.6,66.3,64.1,68.4,17.0,15.8,18.2
14,Americas,2005,74.9,71.9,77.9,21.5,19.8,23.1,66.0,63.8,68.1,16.6,15.3,17.8
15,Americas,2000,73.6,70.4,76.8,20.9,19.1,22.5,64.9,62.6,67.1,16.2,14.8,17.4
16,South-East Asia,2016,69.5,67.9,71.3,18.2,17.2,19.1,60.4,59.5,61.3,13.3,12.7,13.9
17,South-East Asia,2015,69.2,67.6,70.9,18.1,17.1,19.0,60.0,59.2,60.9,13.2,12.6,13.7
18,South-East Asia,2010,67.4,66.1,68.7,17.6,16.7,18.4,58.5,57.9,59.0,12.7,12.2,13.2
19,South-East Asia,2005,65.4,64.4,66.4,17.0,16.2,17.8,56.6,56.3,56.9,12.2,11.8,12.7
20,South-East Asia,2000,63.5,62.5,64.4,16.7,15.8,17.5,54.8,54.5,55.1,11.9,11.4,12.4
21,Europe,2016,77.5,74.2,80.8,22.3,20.2,24.1,68.4,66.1,70.7,17.4,15.9,18.7
22,Europe,2015,77.2,73.8,80.5,22.1,20.0,23.9,68.1,65.7,70.5,17.2,15.7,18.5
23,Europe,2010,75.7,72.0,79.3,21.4,19.2,23.2,66.9,64.3,69.5,16.7,15.1,18.0
24,Europe,2005,73.5,69.5,77.6,20.3,18.1,22.3,65.1,62.2,68.2,15.8,14.2,17.3
25,Europe,2000,72.5,68.4,76.7,19.7,17.3,21.6,64.2,61.2,67.3,15.3,13.5,16.7
26,Eastern Mediterranean,2016,69.1,67.7,70.7,18.2,17.5,19.0,59.7,59.1,60.4,13.3,13.0,13.6
27,Eastern Mediterranean,2015,68.8,67.4,70.4,18.1,17.4,18.8,59.4,58.8,60.1,13.2,12.9,13.5
28,Eastern Mediterranean,2010,68.1,66.7,69.5,18.0,17.3,18.7,58.6,58.1,59.2,13.0,12.7,13.3
29,Eastern Mediterranean,2005,66.2,64.8,67.8,17.6,16.9,18.4,57.0,56.4,57.6,12.6,12.3,12.9
30,Eastern Mediterranean,2000,65.5,64.2,66.9,17.5,16.8,18.2,56.2,55.8,56.8,12.4,12.1,12.7
31,Western Pacific,2016,76.9,75.0,78.9,21.0,19.5,22.5,68.9,67.7,70.0,16.6,15.6,17.6
32,Western Pacific,2015,76.7,74.8,78.8,20.9,19.4,22.4,68.6,67.5,69.8,16.5,15.5,17.5
33,Western Pacific,2010,75.8,73.8,77.9,20.5,19.0,22.1,67.8,66.7,69.1,16.2,15.1,17.3
34,Western Pacific,2005,74.7,72.7,76.8,20.1,18.6,21.6,66.9,65.7,68.1,15.9,14.8,16.9
35,Western Pacific,2000,72.8,70.8,75.0,19.3,17.8,20.9,65.2,64.0,66.5,15.3,14.2,16.3

In [420]:
data.set_index('Continent')

,Year,Life expectancy at birth (years),Life expectancy at birth (years).1,Life expectancy at birth (years).2,Life expectancy at age 60 (years),Life expectancy at age 60 (years).1,Life expectancy at age 60 (years).2,Healthy life expectancy (HALE) at birth (years),Healthy life expectancy (HALE) at birth (years).1,Healthy life expectancy (HALE) at birth (years).2,Healthy life expectancy (HALE) at age 60 (years),Healthy life expectancy (HALE) at age 60 (years).1,Healthy life expectancy (HALE) at age 60 (years).2
Continent,,,,,,,,,,,,,
WHO region,Year,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
Global,2016,72.0,69.8,74.2,20.5,19.0,21.9,63.3,62.0,64.8,15.8,14.8,16.8
Global,2015,71.7,69.5,73.9,20.4,18.9,21.8,63.0,61.7,64.5,15.7,14.7,16.6
Global,2010,70.1,68.0,72.3,19.9,18.4,21.3,61.7,60.4,63.1,15.3,14.3,16.2
Global,2005,68.2,66.1,70.3,19.3,17.8,20.7,60.0,58.7,61.3,14.8,13.7,15.8
Global,2000,66.5,64.4,68.7,18.8,17.2,20.2,58.5,57.2,59.9,14.3,13.2,15.4
Africa,2016,61.2,59.6,62.7,16.6,15.9,17.3,53.8,52.6,54.9,12.5,12.0,13.1
Africa,2015,60.7,59.1,62.2,16.6,15.8,17.3,53.3,52.1,54.4,12.4,11.8,13.0
Africa,2010,57.6,56.4,58.8,16.1,15.4,16.7,50.4,49.6,51.3,12.0,11.5,12.4
Africa,2005,53.4,52.3,54.4,15.4,14.7,16.1,46.7,46.0,47.4,11.4,10.9,11.8
Africa,2000,50.8,49.6,52.1,15.0,14.3,15.6,44.4,43.5,45.3,11.0,10.5,11.4
Americas,2016,76.8,73.8,79.8,22.7,21.1,24.3,67.5,65.5,69.6,17.6,16.4,18.7
Americas,2015,76.6,73.7,79.6,22.6,21.0,24.1,67.4,65.3,69.5,17.5,16.2,18.6
Americas,2010,75.3,72.3,78.4,22.1,20.4,23.6,66.3,64.1,68.4,17.0,15.8,18.2
Americas,2005,74.9,71.9,77.9,21.5,19.8,23.1,66.0,63.8,68.1,16.6,15.3,17.8
Americas,2000,73.6,70.4,76.8,20.9,19.1,22.5,64.9,62.6,67.1,16.2,14.8,17.4
South-East Asia,2016,69.5,67.9,71.3,18.2,17.2,19.1,60.4,59.5,61.3,13.3,12.7,13.9
South-East Asia,2015,69.2,67.6,70.9,18.1,17.1,19.0,60.0,59.2,60.9,13.2,12.6,13.7
South-East Asia,2010,67.4,66.1,68.7,17.6,16.7,18.4,58.5,57.9,59.0,12.7,12.2,13.2
South-East Asia,2005,65.4,64.4,66.4,17.0,16.2,17.8,56.6,56.3,56.9,12.2,11.8,12.7
South-East Asia,2000,63.5,62.5,64.4,16.7,15.8,17.5,54.8,54.5,55.1,11.9,11.4,12.4
Europe,2016,77.5,74.2,80.8,22.3,20.2,24.1,68.4,66.1,70.7,17.4,15.9,18.7
Europe,2015,77.2,73.8,80.5,22.1,20.0,23.9,68.1,65.7,70.5,17.2,15.7,18.5
Europe,2010,75.7,72.0,79.3,21.4,19.2,23.2,66.9,64.3,69.5,16.7,15.1,18.0
Europe,2005,73.5,69.5,77.6,20.3,18.1,22.3,65.1,62.2,68.2,15.8,14.2,17.3
Europe,2000,72.5,68.4,76.7,19.7,17.3,21.6,64.2,61.2,67.3,15.3,13.5,16.7
Eastern Mediterranean,2016,69.1,67.7,70.7,18.2,17.5,19.0,59.7,59.1,60.4,13.3,13.0,13.6
Eastern Mediterranean,2015,68.8,67.4,70.4,18.1,17.4,18.8,59.4,58.8,60.1,13.2,12.9,13.5
Eastern Mediterranean,2010,68.1,66.7,69.5,18.0,17.3,18.7,58.6,58.1,59.2,13.0,12.7,13.3
Eastern Mediterranean,2005,66.2,64.8,67.8,17.6,16.9,18.4,57.0,56.4,57.6,12.6,12.3,12.9
Eastern Mediterranean,2000,65.5,64.2,66.9,17.5,16.8,18.2,56.2,55.8,56.8,12.4,12.1,12.7
Western Pacific,2016,76.9,75.0,78.9,21.0,19.5,22.5,68.9,67.7,70.0,16.6,15.6,17.6
Western Pacific,2015,76.7,74.8,78.8,20.9,19.4,22.4,68.6,67.5,69.8,16.5,15.5,17.5
Western Pacific,2010,75.8,73.8,77.9,20.5,19.0,22.1,67.8,66.7,69.1,16.2,15.1,17.3
Western Pacific,2005,74.7,72.7,76.8,20.1,18.6,21.6,66.9,65.7,68.1,15.9,14.8,16.9
Western Pacific,2000,72.8,70.8,75.0,19.3,17.8,20.9,65.2,64.0,66.5,15.3,14.2,16.3

In [445]:
data.groupby(['Continent'])[['Life expectancy at birth (years)']].aggregate('max')

                      Life expectancy at birth (years)
Continent
Africa                                            61.2
Americas                                          76.8
Eastern Mediterranean                             69.1
Europe                                            77.5
Global                                            72.0
South-East Asia                                   69.5
WHO region                                  Both sexes
Western Pacific                                   76.9

In [444]:
pd.concat([tabella, data], join = 'inner',  ignore_index = False, axis = 1)

Empty DataFrame
Columns: [0, Continent, Year, Life expectancy at birth (years), Life expectancy at birth (years).1, Life expectancy at birth (years).2, Life expectancy at age 60 (years), Life expectancy at age 60 (years).1, Life expectancy at age 60 (years).2, Healthy life expectancy (HALE) at birth (years), Healthy life expectancy (HALE) at birth (years).1, Healthy life expectancy (HALE) at birth (years).2, Healthy life expectancy (HALE) at age 60 (years), Healthy life expectancy (HALE) at age 60 (years).1, Healthy life expectancy (HALE) at age 60 (years).2]
Index: []